body{
  background-color: #042641;
  color: white;
}
.App {
  display: flex;
  justify-content: space-around;
}
.App div{
  margin-top: 15px;
  padding: 20px;
}
.form input{
margin-bottom: 10px;
display: block;
width: 100%;
}
.form button{
  width: 100%;
  height: 40px;
  margin-top: 20px;
}
.selectdepart{
  width: 100%;
  margin-bottom: 10px;
  
}

.left{
  border-radius: 10px;
}
.sidedata input, select, button {
  background: #9ebfd9;
  outline: none;
}
.buttton{
  font-size: 20px;font-weight: 600;
}
.buttton:hover{
  background: #031320;
  color: beige;

}
.table{
  box-shadow: rgba(154, 154, 156, 0.808) 0px 5px 15px;
  border-radius: 10px;
  margin: 20px 5px;
  color: #fff;
}
.table select{
  margin: 20px 5px;
  padding: 5px 10px;
}
.checkboxui{
  width: 15px !important
}